__pycache__/
venv/
.venv/
venv_rl/
.venv_rl/
env/

data/nlog/nlog_scrape/
data/lily/*.csv
data/clean/*.parquet
*.parquet
*.las
*.json
*.npz

data/dataset/


*.csv
*.csv*
*.xlsx
*.xlsx:mshield
*.xlsx:Zone.Identifier

!boreholes.xlsx
!data/nlog/boreholes.xlsx

.vscode/

test.ipynb
temp.ipynb

*.pkl
data/clean/*.pkl
data/clean/*.parquet
# checkpoints/

test.py

*.npy

.claude/
.tex/